<!DOCTYPE html>
<html>
  <head>
    <title>Mongo925</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>

    </main>


    <script src = "/scripts/main.js"></script>

  </body>
</html>
